Standard: c++11
UseTab: Never
IndentWidth: 4
ColumnLimit: 150
AlignConsecutiveBitFields: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignAfterOpenBracket: true
AlignEscapedNewlines: true
AlignTrailingComments: true
BinPackArguments: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterEnum: true
    AfterStruct: true
    AfterUnion: true
    AfterCaseLabel: true
    AfterClass: true
    AfterFunction: true
    AfterControlStatement: true
    AfterNamespace: true
    BeforeCatch: true
    BeforeElse: true
    BeforeLambdaBody: true
FixNamespaceComments: true
IncludeBlocks: Preserve
SortIncludes: true
InsertTrailingCommas: Wrapped
PointerAlignment: Left
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatementsExceptForEachMacros
SpaceBeforeRangeBasedForLoopColon: true
SpacesBeforeTrailingComments: 1
SpacesInConditionalStatement: true
UseCRLF: true
IndentPPDirectives: AfterHash
EmptyLineBeforeAccessModifier: Always
AllowShortLambdasOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AccessModifierOffset: -4
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllArgumentsOnNextLine: false
BreakConstructorInitializers: AfterColon
NamespaceIndentation: All
